<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <a href="/flights">All Flights</a> | <a href="/flights/new">New Flight</a>
    </header>
  </body>
</html>
